/* Write your CSS here */
.suggestion-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.suggestion-text {
  font-family: 'Roboto';
  color: #475569;
  font-size: 16px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .suggestion-text {
    font-size: 20px;
  }
}
.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow {
  height: 16px;
  width: 16px;
}
@media screen and (min-width: 768px) {
  .arrow {
    height: 24px;
    width: 24px;
  }
}
